.button {
  background-color: rgb(25, 118, 210);
  border-radius: 4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 24px;
  height: 36px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(25, 118, 210, 0.8);
  }
}
